mixin footer
  footer
    .container
      ul.nav-social
        li
          a(href='https://facebook.com/LeungEnterprises') #[i.fa.fa-facebook]
        li
          a(href='https://twitter.com/LeungEnterprise') #[i.fa.fa-twitter]
        li
          a(href='https://plus.google.com/+LeungEnterprises') #[i.fa.fa-google-plus]
        li
          a(href='https://www.linkedin.com/company/leung-enterprises') #[i.fa.fa-linkedin]
        li
          a(href='https://github.com/LeungEnterprises') #[i.fa.fa-github]
      .text-center
        p &copy;2014&ndash;#[script document.write(new Date().getFullYear());] Leung Enterprises