extends /_layout

block vars
  - page = 'portfolio'

block head
  title Wissahickon Track | Leung Enterprises Web Design Philadelphia
  meta(name="description" content="Building the Wissahickon Track website required extensive configuration and styling with the Wordpress CMS.  Leung Enterprises was able to do that and delivered a product that exceeded Wissahickon Track's expectations.")
  style.
    .track::before {
      background: url('/img/track-bg.jpg');
      background-size: cover;
      background-position: 70%;
    }

block content
  main
    .jumbotron.flex-center.transparent-bg.half-page.track.before-bg
      .container
        .spacer-60
        div
          h1.text-light.text-uppercase.wow.fadeIn Wissahickon Track and Field
          h2.text-light.wow.fadeIn(data-wow-delay='0.3s').
            A championship-winning track team from Wissahickon High School.
    .jumbotron.half-page.light-bg
      .container-fluid
        br
        br
        .row.wow.fadeIn
          .col-md-6
            a(href='http://wissahickontrackandfield.com' target='_blank')
              img.img-responsive.box-shadow(src="/img/portfolio/track.png")
          .col-md-5.col-md-offset-1
            h2 One More Mile
            p.
              When building this website, Leung Enterprises spoke with their client extensively in order to gauge
              their needs and vision for the final product.  The website needed to have multiple pages in order
              to document everything going on within the team, including schedules, rules, and photos.  Due to
              this substantial content, we used the Wordpress content-management system as a base on which to 
              build the site.  We configured and built everything for our client so that the management of the
              site would be as hassle-free as possible.
            br
            a.btn.btn-info.visit-website(href='http://wissahickontrackandfield.com/' target='_blank') Visit Website&nbsp;&nbsp;#[i.ion-forward]
        .clearfix
        .col-md-12.text-center
          br
          br
          br
          a.btn.btn-success.btn-lg(href='/portfolio') Back to Portfolio
        .clearfix
        br
        br
    .jumbotron.full-page.parallax-window.flex-center.track(data-parallax='scroll' data-speed='0.25' data-image-src='/img/track-bg.jpg')
      .container
        //-
          .testimonial-container.row
            .col-md-2.text-right
              i.quote-left
            .col-md-10
              p.testimonial.
                Wissahickon
                <br><br>
                #[span.small.text-style-normal &ndash; Mohammed Rashid, CEO of Ashé Attire]
    
block scripts
  script(src='/vendor/trianglify/dist/trianglify.min.js')
  script.
    function genTriangles() {
      var height = window.innerHeight;
      var width = window.innerWidth;
      var colorFunc = function(x, y) {
        return 'hsl(0,0%,'+Math.floor(Math.abs(x*y*100))+'%)';
      };
      var pattern = Trianglify({
        // in case the jumbotron is a bit bigger
        height: height * 1.3,
        width: width,
        cell_size: 100,
        color_function: colorFunc
      });
      var image = pattern.png();
      var elements = [".track"];
      var afterElements = elements.map(function(el) {
        return el + '::after';
      });
      var css = "<style id='trianglify-styles'>" +
                  elements.toString() + " { " +
                    "position: relative;" +
                  "}" +
                  afterElements.toString() + " {" +
                    "content: '';" +
                    "display: block;" +
                    "z-index: -1;" +
                    "position: absolute;" +
                    "top: 0;" +
                    "bottom: 0;" +
                    "left: 0;" +
                    "right: 0;" +
                    "opacity: 0.6;" +
                    "background: url(" + image + ");" +
                  "}" +
                "</style>";
      $('head').append(css);
    }
    genTriangles();
    if (!iOS) {
      $(window).resize(function() {
        genTriangles();
      });
    }
    
