/**
 * Custom Overrides and Components
 */
 
/**
 * Custom Overrides
 */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // for home and work footers, which are absolutely positioned
  position: relative;
}

.navbar-inverse, .navbar-nav > li > a {
  transition: all 0.3s;
}

body:not(.home) .navbar-brand > span {
  $size: 35px;
  margin-top: -1 * ($navbar-height - $size) * 0.5;
  display: inline-block;
  height: $size;
  width: $size;
  line-height: $size;
  border: 1px solid $navbar-inverse-brand-color;
  border-radius: $size * 0.1;
  text-align: center;
}

.navbar-nav > li > a {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

main {
  flex: 1;
}

/**
 * Custom Components
 */
$default-background: url('https://www.leungenterprises.com/img/ccenter.jpg');
// see what happens
$default-background: transparent;

.navbar-unscrolled {
  background: transparent;
  
  .navbar-nav > li > a {
    background: transparent !important;
  }
}
 
$box-logo-size: 150px;
$box-logo-theme: $theme-color;

.box-logo {
  display: inline-block;
  height: $box-logo-size;
  width: $box-logo-size;
  line-height: $box-logo-size;
  border-radius: $box-logo-size * 0.1;
  background: $theme-color;
  border: 1px solid #eee;
  font-family: "Titillium Web";
  font-size: $box-logo-size * 0.65;
  color: #eee;
}

.box-logo-o {
  @extend .box-logo;
  background: transparent;
}

.btn-outline {
  background: transparent;
  border: 1px solid #ccc;
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  
  &:hover, &:focus, &:active {
    border-color: #eee;
    color: #eee;
  }
}

.trianglify {
  position: relative;
  // trianglify gets height and padding but not margin when making the image
  margin-bottom: 0;

  > .trianglify-background {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    opacity: 0.2;
  }
}

// Placeholder class, see below for usage
%pseudo-fullscreen {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.jumbotron-header {
  @extend .flex-center;
  background: transparent;
  color: #eee;
  position: relative;
  min-height: 60vh;
  margin-bottom: 0;
  
  // Background image will be put in before element
  &::before {
    @extend %pseudo-fullscreen;
    background-size: cover;
    background-attachment: fixed;
    z-index: -3;
    // default background image
    background: $default-background;
  }
  
  &::after {
    @extend %pseudo-fullscreen;
    background: rgba($theme-color, 0.7);
    z-index: -2;
  }
  
  // trianglify-bg is -1 and container is 0
}

footer {
  width: 100%;
  z-index: 2;
  color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  
  p {
    margin-bottom: 0;
  }
  
  .nav-social {
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    
    > li {
      display: inline-block;
      list-style-type: none;
      
      > a {
        color: #eee;
        padding: 5px;
        
        &:hover {
          color: white;
        }
      }
    }
  }
  
  // Instead of under the main (with flex), we want it ON the main
  .home &,
  .work & {
    position: absolute;
    bottom: 0;
  }
  
  body:not(.home):not(.work) & {
    position: relative;
    
     &::before {
      @extend %pseudo-fullscreen;
      background-size: cover;
      background-attachment: fixed;
      background: $default-background;
      z-index: -3;
    }
    &::after {
      @extend %pseudo-fullscreen;
      background: rgba($theme-color, 0.7);
      z-index: -2;
    }
  }
}