extends /_layout

block content
  .jumbotron.jumbotron-header.trianglify(style='min-height:100vh;')
    .container.text-center
      h1.text-lowercase 404
      p.text-uppercase Page Not Found
      br
      a.btn.btn-outline.btn-lg(href='./') Back to Home