extends /_layout

block content
  +jumbotron-header('About', 'No fear, only ambition')
  .jumbotron
    .container.text-center
      .row
        .col-sm-8.col-sm-offset-2
          .row
            .col-xs-12
              h2 What We Do
              p.
                Founded in September 2014, Leung Enterprises now offers custom
                software solutions and consulting for a discriminating clientele.
          br
          .row
            .col-sm-6
              i.fa.fa-envelope
              h3 Email
              p hello@leungenterprises.com
            .col-sm-6
              i.fa.fa-twitter
              h3 Twitter
              p @LeungEnterprise
          br
          .row
            .col-xs-12
              h2 contact
              p.
                If you have an interesting project or need some help getting your
                app off the ground, contact us.