doctype
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
html.no-js(lang='en')<!--<![endif]-->
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
      
    meta(name='keywords' content='web design, website design, online marketing, philadelphia, html5, jquery, web development, affordable, responsive, modern, fast')
    link(rel='publisher' href='https://plus.google.com/107479847642079902150')
    meta(name="google-site-verification" content="XGWx2QCFP8OT71Kg-EfL-KVqpWGPCiM4ODgCS6ek780")
    meta(name="msvalidate.01",  content="ED9DF581CA30EFE9A62E9865C01BFCA3")
      
    link(rel="icon" href="/img/favicon-256.png")
    
    // build:css /css/styles.css 
    link(rel='stylesheet' href='/css/open-sans.css')
    link(rel="stylesheet" href="/css/font-awesome-4.4.0.min.css")
    link(rel="stylesheet" href="/css/ionicons-2.0.1.min.css")
    link(rel="stylesheet" href="/css/bootstrap-3.3.5.min.css")
    link(rel="stylesheet" href="/css/animate-3.4.0.min.css")
    link(rel="stylesheet" href="/css/styles.css")
    // endbuild 
    
    script(src="/js/modernizr-custom.min.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64325875-4', 'auto');
      ga('send', 'pageview');
    block head
  body(itemscope itemtype="http://schema.org/ProfessionalService")
    #loader-overlay.flex-center
      #loader
    block content
    // build:js /js/scripts.js 
    script(src="/js/jquery-2.1.4.min.js")
    script(src="/js/bootstrap-3.3.5.min.js")
    script(src="/js/parallax-1.3.1.min.js")
    script(src="/js/wow-1.1.2.min.js")
    script(src="/js/scripts.js")
    // endbuild 
    block scripts
