/**
 * Styles for use on the homepage
 */

.home {
  video {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    filter: blur(3px) grayscale(90%);
  }
  
  .jumbotron {
    position: relative;
    z-index: 2;
    background: rgba($theme-color, 0.8);
    min-height: 100vh;
    margin-bottom: 0;
    color: #eee;
    
    p {
      font-size: 2.3rem;
      letter-spacing: 0.5rem;
    }
  }
}